<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>待审核-详情</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/font-awesome.4.6.0.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../../css/sidebar-menu.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/user_mangement/uMverify_wait_detail.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .paper_photo{
            /*width: 180px;*/
            /*height: 120px;*/
        }
        .paper_photo_box{
            padding-top: 20px;
        }
        .paper_photo_father{
            width: 180px;
            height: 120px;
        }
        .radio_items>div{
            padding: 18px 2px;
        }
        .reject_reason{
            color: red;
        }
    </style>
</head>
<body>
<header class="yyheader ">
    <div class="container">
        <div class="row">
            <div class="yyheader_left col-xs-4">
                <ul class=" row">
                    <li class="col-xs-6">
                        <a href="javascript:;" class="login_href">
                        </a>
                    </li>
                    <li class="col-xs-6">
                        <a href="javascript:;" class="sloganLogo_href">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-5"></div>
            <div class="yyheader_right col-xs-3">
                <ul class="row">
                    <li class="col-xs-8">
                        <a href="" class="">首页</a>
                        <a href="" class="">张三</a>
                        <span class="">|</span>
                        <a href="" class="">通知</a>
                    </li>
                    <li class="col-xs-4">
                        <a href="">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="vfyLog_con yycon">
    <div class="container">
        <div class="row">
            <aside class="main-sidebar vfyDetail_sidebar yyCon_left_sidebar col-xs-2">
                <section class="sidebar">
                    <ul class="sidebar-menu">
                        <li class="header">主导航</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>仪表盘</span> <i
                                    class="fa fa-angle-right pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> 仪表盘 v1</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> 仪表盘 v2</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>布局选项</span>
                                <span class="label label-primary pull-right">4</span>
                            </a>
                            <ul class="treeview-menu" style="display: none;">
                                <li><a href="#"><i class="fa fa-circle-o"></i> 顶部导航</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> 盒子布局</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> 固定布局</a></li>
                                <li class=""><a href="#"><i class="fa fa-circle-o"></i> 折叠侧边栏</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </section>
            </aside>
            <div class="uMDvfyDetail_con_right yycon_right col-xs-10">
                <ol class="vfyDetail_Bread breadcrumb breadcrumb_selfDefined">
                    <li><a href="#">商品管理》</a></li>
                    <li><a href="#">商品审核》</a></li>
                    <li><a href="#">待审核》</a></li>
                    <li class="active"><a href="#">审核详情》</a></li>
                </ol>

                <!--<div class="mess_cont__circle uMverify_progress_con">-->
                <!--<ul class="clearfix">-->
                <!--<li class="green_color">-->
                <!--<div class="mess_circle">1</div>-->
                <!--<p>公司信息审核</p>-->
                <!--</li>-->
                <!--<li class="green_bac">-->
                <!--<div class="mess_circle">2</div>-->
                <!--<p>业务信息审核</p>-->
                <!--</li>-->
                <!--<li class="">-->
                <!--<div class="mess_circle">3</div>-->
                <!--<p>认证信息审核</p>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <div class="right_con_box">

                </div>
                <div class="verify_btm_operateBox">
                    <h4 class="conRight_h4">审核操作</h4>
                    <div class="radio_items">
                        <div>
                            我已认真核实过该商家的所有资料信息，现做出如下决定：
                        </div>
                        <div>
                            <input type="radio" value="0" class="qualification_detail_radio" name="qualification_detail_operation">通过，允许该商家成为正式供应商
                        </div>
                        <div>
                            <input checked="checked" type="radio" value="1" class="qualification_detail_radio" name="qualification_detail_operation">拒绝，无法通过
                        </div>
                        <!--<input type="radio" name="qualification_detail_operation" checked="checked">通过，允许该商家成为正式供应商-->
                        <!--<input type="radio" name="qualification_detail_operation">拒绝，无法通过-->
                    </div>
                    <div role="form" class="clearfix">
                        <div class="form-group col-xs-11">
                            <textarea class="form-control reason_area " rows="6" cols="30" placeholder="">请填写拒绝通过的具体理由.</textarea>
                        </div>
                        <div class="reject_reason hide_ctr col-xs-11">
                            拒绝理由不可以空置。
                        </div>
                    </div>
                    <div>
                        <p class="qualification_sureBtn conRightBottom_btn">
                            确认并提交
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="rig_con_ajax" type="text/html">
    <div class="clearfix grayBgcBox">
        <div class="row clearfix">
            <div class="col-xs-3">
                <div class="clearfix">
                    <p class="fl Shop_account_label">商家账号：</p>
                    <div class="fl Shop_account_name">{{userName}}</div>
                </div>
                <div class="clearfix isHave_twoFather">
                    <p class="fl cellphone_num_label">手机号：</p>
                    <div class="fl cellphone_num">{{phoneNumber}}</div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="clearfix">
                    <p class="fl">审核阶段：</p>
                    <div class="fl qualification_level">{{stage}}</div>
                </div>
                <div class="clearfix">
                    <p class="fl">申请时间：</p>
                    <div class="fl qualification_time">
                        {{sellerCompany.applyTime}}
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="clearfix">
                    <p class="fl">审核状态：</p>
                    <div class="fl qualification_state">
                        {{sellerCompany.evaResult}}
                    </div>
                </div>
                <div class="clearfix">
                    <p class="fl" style="visibility:hidden">占位占位：</p>
                    <div class="fl qualification_reson">
                        未通过理由
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="conRight_h4">基本信息：</h4>
    <div class="clearfix">
        <div class="row clearfix">
            <div class="col-xs-4 clearfix ">
                <div class="clearfix">
                    <p class="fl">公司名称：</p>
                    <div class="fl company_name">{{sellerCompany.companyName}}</div>
                </div>
                <div class="clearfix">
                    <p class="fl">公司类型：</p>
                    <div class="fl company_type">{{sellerCompany.companyType}}</div>
                </div>
                <div class="clearfix">
                    <p class="fl">成立日期：</p>
                    <div class="fl origin_time">{{sellerCompany.foundingTime}}</div>
                </div>
                <div class="clearfix">
                    <p class="fl">公司人数：</p>
                    <div class="fl company_manNum">{{sellerCompany.peopleNum}}</div>
                </div>
            </div>
            <div class="col-xs-4 clearfix ">
                <div class="clearfix">
                    <p class="fl">公司地址：</p>
                    <div class="fl company_address">{{sellerCompany.companyAddress}}</div>
                </div>
                <div class="clearfix">
                    <p class="fl">联系电话：</p>
                    <div class="fl company_fixphone">{{sellerCompany.telephone}}</div>
                </div>
                <div class="clearfix">
                    <p class="fl">传真号码 ：</p>
                    <div class="fl company_faxphone">{{sellerCompany.fax}}</div>
                </div>
            </div>
        </div>
    </div>
    <h4 class=" conRight_h4">法人信息</h4>
    <div class="clearfix">
        <div class="row">
            <div class="col-xs-8 clearfix">
                <p class="fl">法人代表：</p>
                <div class="fl law_man">
                    {{sellerCompany.legalRep}}
                </div>
            </div>
            <div class="col-xs-8 clearfix">
                <p class="fl">手机号码：</p>
                <div class="fl clearfix law_phone">
                    {{sellerCompany.legalRepPhone}}
                </div>
            </div>
            <div class="col-xs-8 clearfix">
                <p class="fl">E-mail：</p>
                <div class="law_email fl">{{sellerCompany.legalRepEmail}}</div>
            </div>
        </div>
    </div>
    <h4 class=" conRight_h4">经营信息</h4>
    <div class="clearfix">
        <div class="row">
            <div class="col-xs-8 clearfix">
                <p class="fl">经营类型：</p>
                <div class="fl operate_type">
                    {{sellerCompany.managementType}}
                </div>
            </div>
            <div class="col-xs-8 clearfix">
                <p class="fl">企业规模：</p>
                <div class="fl clearfix company_size">
                    {{sellerCompany.enterpriseScale}}
                </div>
            </div>
            <div class="col-xs-8 clearfix">
                <p class="fl">纳税规模：</p>
                <div class="fl tax_type">{{sellerCompany.taxScale}}</div>
            </div>
        </div>
    </div>
    <h4 class=" conRight_h4">服务信息</h4>
    <div class="clearfix">
        <div class="row">
            <div class="col-xs-4">
                <div class=" clearfix">
                    <p class="fl">经营区域：</p>
                    <div class="fl operate_area">
                        {{sellerCompany.operatingArea}}
                    </div>
                </div>
                <div class=" clearfix">
                    <p class="fl">配送人数：</p>
                    <div class="fl clearfix">
                        <span class="express_manNum">
                            {{sellerCompany.distributionNum}}
                        </span>人
                    </div>
                </div>
                <div class=" clearfix">
                    <p class="fl">测量人数：</p>
                    <div class="fl">
                        <span class="measure_manNum">
                             {{sellerCompany.measureNum}}
                        </span>人
                    </div>
                </div>
                <div class=" clearfix">
                    <p class="fl">设计人数：</p>
                    <div class=" fl">
                        <span class="design_manNum">
                            {{sellerCompany.designNum}}
                        </span>人
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class=" clearfix">
                    <p class="fl">主要客户销售范围：</p>
                    <div class="fl clearfix sale_area">
                        {{sellerCompany.saleScope}}
                    </div>
                </div>
                <div class=" clearfix">
                    <p class="fl">主营品牌：</p>
                    <div class="fl brand_have">
                        {{sellerCompany.brand}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class=" conRight_h4">联系信息</h4>
    <div class="clearfix ">
        <div class=" clearfix ">
            <div class="clearfix">
                <p class="fl">业务对接人：</p>
                <div class="fl butt_man">
                    {{sellerCompany.abutmentPerson}}
                </div>
            </div>
        </div>
        <div class=" clearfix ">
            <div class="row">
                <div class="clearfix col-xs-4">
                    <p class="fl">手机号码：</p>
                    <div class="fl butt_phone">
                        {{sellerCompany.abutmentPhone}}
                    </div>
                </div>
                <div class="clearfix col-xs-5">
                    <p class="fl">E-mail：</p>
                    <div class="fl butt_email">
                        {{sellerCompany.abutmentEmail}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="underLine">
    </div>
    <div class="clearfix">
        <div class="clearfix">
            <p class="fl">服务负责人：</p>
            <div class="fl service_man">
                {{sellerCompany.servicePerson}}
            </div>
        </div>
        <div class=" clearfix ">
            <div class="row clearfix">
                <div class="clearfix col-xs-4">
                    <p class="fl">手机号码：</p>
                    <div class="fl service_phone"> {{sellerCompany.servicePhone}}</div>
                </div>
                <div class="clearfix col-xs-5">
                    <p class="fl">E-mail：</p>
                    <div class="fl service_email">{{sellerCompany.serviceEmail}}</div>
                </div>
            </div>
        </div>
    </div>
    <h4 class=" conRight_h4">经营身份证明</h4>
    <div class="">
        <div class="clearfix paper_photo_box">
            <p class="col-xs-7">营业执照：</p>
            <div class="col-xs-6">
                <div class="paper_photo_father">
                    <img class="imageBusiness paper_photo" src="{{sellerImage.imageBusiness}}" alt="">
                </div>
                <div class="paper_photo_operate">
                    <span>查看大图</span>
                    <span>
                        <a href="{{sellerImage.imageBusiness}}" download>下载到本地</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="row">
                <div class="col-xs-6 paper_photo_box">
                    <p class="col-xs-12">法人身份证正面：</p>
                    <div class="col-xs-12 paper_photo_father">
                        <img class="idcard_face_img paper_photo" src="{{sellerImage.imageIdFront}}" alt="">
                    </div>
                    <div class="col-xs-12 paper_photo_operate">
                        <span>查看大图</span>
                        <span>下载到本地</span>
                    </div>
                </div>
                <div class="col-xs-6 paper_photo_box">
                    <p class="col-xs-12 ">法人身份证反面：</p>
                    <div class="col-xs-12 paper_photo_father">
                        <img class="idcard_face_back paper_photo" src="{{sellerImage.imageIdAfter}}" alt="">
                    </div>
                    <div class="col-xs-12 paper_photo_operate">
                        <span>查看大图</span>
                        <span>下载到本地</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class=" conRight_h4">纳税证明</h4>
    <div class="clearfix">
        <div class="row clearfix">
            <div class="col-xs-6 paper_photo_box">
                <p class="col-xs-12">开户许可证：</p>
                <div class="col-xs-12 paper_photo_father">
                    {{if sellerImage.imageLicense}}
                    <img class="idcard_face_img paper_photo" src="{{sellerImage.imageLicense}}" alt="">
                    {{else}}
                    <span>暂无</span>
                    {{/if}}
                </div>
                <div class="col-xs-12 paper_photo_operate">
                    <span>查看大图</span>
                    <span>下载到本地</span>
                </div>
            </div>
            <div class="col-xs-6 paper_photo_box">
                <p class="col-xs-12 ">一般纳税人资格认定书</p>
                <div class="col-xs-12 paper_photo_father">
                    {{if sellerImage.imageTaxRegistration.length>1}}
                    {{else}}
                    <span>暂无</span>
                    {{/if}}
                </div>
                <div class="col-xs-12 paper_photo_operate">
                    <span class="">查看大图</span>
                    <span>下载到本地</span>
                </div>
            </div>
        </div>
        <div class="clearfix paper_photo_box">
            <p class="col-xs-7">税务登记证书：</p>
            <div class="col-xs-6">
                <div class="paper_photo_father">
                    {{if sellerImage.imageTaxpayer.length>1}}
                    <img class="imageBusiness paper_photo" src="{{sellerImage.imageTaxpayer}}" alt="">
                    {{else}}
                    <span>暂无</span>
                    {{/if}}
                </div>
                <div class="paper_photo_operate">
                    <span>查看大图</span>
                    <span>
                        <a href="{{sellerImage.imageBusiness}}" download>下载到本地</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <h4 class=" conRight_h4">经营资质证明</h4>
    <div>
        <div class="row clearfix">
            <div class="col-xs-6 paper_photo_box">
                <p class="col-xs-12">产品合格证：</p>
                <div class="col-xs-12 paper_photo_father">
                    {{if sellerImage.imageProductQualification.length>1}}
                    <img class="idcard_face_img paper_photo" src="{{sellerImage.imageProductQualification}}" alt="">
                    {{else}}
                    <span>暂无</span>
                    {{/if}}
                </div>
                <div class="col-xs-12 paper_photo_operate">
                    <span>查看大图</span>
                    <span>下载到本地</span>
                </div>
            </div>
            <div class="col-xs-6 paper_photo_box">
                <p class="col-xs-12 ">授权代理证明</p>
                <div class="col-xs-12 paper_photo_father">
                    {{if sellerImage.imageProxyCertificate.length>1}}
                    <img class="idcard_face_back paper_photo" src="{{sellerImage.imageProxyCertificate}}" alt="">
                    {{else}}
                    <span>暂无</span>
                    {{/if}}
                </div>
                <div class="col-xs-12 paper_photo_operate">
                    <span>查看大图</span>
                    <span>下载到本地</span>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- 测试遮罩弹窗 -->
<template type="text/html" id="test_mask_catch">
    <div class="attrAdd_container">
        <div class="col-sm-12 mask_tip">
            请填写拒绝理由
        </div>
    </div>
</template>
<script src="../../js/lib/jquery-1.12.4.min.js"></script>
<script src="../../js/lib/bootstrap.min.js"></script>
<script src="../../js/lib/art_template.js"></script>
<script src="../../js/lib/jquery.popwin.js"></script>
<script src="../../js/lib/sidebar-menu.js"></script>
<script src="../../js/lib/urlParam.js"></script>
<script src="../../js/user_manage/qualifications_verify_detail.js"></script>
</body>
</html>
