.orderNumber p{
	display: inline-block;
	width: 45%;
}
.vwatiTime_start,.vwatiTime_end{
	position: relative;
}
.dates_start1,.dates_end1{
	position: absolute;
    left: 150px;
    top: 8px;
}
.zhi{
	line-height: 34px;
	width: 30px;
	text-align: center;
}
.btnright{
	float: right;
}
.public_con #test{
	clear: both;
}

.public_con #test .table thead tr th:nth-child(1) {
    width: 25%;
}
.public_con #test .table thead tr th:nth-child(3) {
    width: 11%;
}
.public_con #test .table thead tr th:nth-child(2) {
    width: 15%;
}
.public_con #test .table thead tr th:nth-child(4) {
    width: 10%;
}
.pps{
	border-bottom: 1px solid #ccc;

}
.pps:last-of-type{
	border-bottom: 0
}
.pps span{
	display: inline-block;
	text-align: center;
}
.pps span:nth-of-type(1){
	width: 61%;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align: inherit;
}
.table a{
	color: #337ab7;
}


/*账单汇总*/

/*.billDate{*/
	/*line-height: 37px;*/

/*}*/
/*.billDate span{*/
	/*margin-left: 30px;*/
/*}*/
/*.billDate span:nth-of-type(1){*/
	/*margin-left: 0;*/
/*}*/
.billCity{
	margin-top: 10px;
	clear: both;

}
.city span,.store span{
	display: inline-block;
	width: 100px;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
}
.incomeMoney{
	width: 100%;
	padding: 10px;
	background: #cdf8fd;
	margin-top: 10px;
	border-radius: 4px;
}
.incomeMoney p span{
 	display: inline-block;
	width: 200px;
}
.incomeMoney p:nth-of-type(2) span{
	font-size: 20px;

}
.incomeMoney p:nth-of-type(2) span i{
	font-size: 12px;
	font-style: normal;
}
.incomeMoney p:nth-of-type(2) span:nth-of-type(1){
	color: green;
}
.incomeMoney p:nth-of-type(2) span:nth-of-type(2){
	 color: red;
 }
.control-label{
	margin-right: 10px;
}
.order_date{
	line-height: 34px;
	margin-left: 20px;
	margin-right: 20px;

}
.order_date span{
	display: inline-block;
	cursor: pointer;
	width: 100px;
	text-align: center;
}
.form-inline select.form-control{
	width: 120px;
}