.pics{
    width: 50px;
    height: 50px;
    display:block;
    float: left;
}
.spans{
    float: right;
    display: block;
    width: 50%;
}
.pageSize_switch_con{
    padding: 0;
}
#table_data thead tr{
    height: 47px;
    line-height: 47px;
}
.public_con #test .table thead tr th{
    line-height: 47px;
}
.public_con #test .table thead tr th:nth-child(1) {
    width: 14%;
}
.public_con #test .table thead tr th:nth-child(2),.public_con #test .table thead tr th:nth-child(3) {
    width: 7%;
}
.public_con #test .table thead tr th:nth-child(4),.public_con #test .table thead tr th:nth-child(5)  {
    width: 5%;
}
.public_con #test .table thead tr th:nth-child(6),.public_con #test .table thead tr th:nth-child(7) {
    width:8%;
}
.public_con #test .table tbody tr td{
    text-align: left;
    line-height: normal;
    border: 1px solid #ccc
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: inherit;
}



.settle_order{
    width: 100%;
    border:1px solid #ccc;

}
.settle_order li{
    height: 47px;
    line-height: 47px;
    border-bottom:1px solid #ccc;
}
.settle_order li span{
   width:12%;
    display: inline-block;
    text-align: center;

}
.settle_order li span:nth-of-type(1){
    width: 26%;
}
.spc_order img{
    width:45px;
    height: 45px;
    display: inline-block;
}
.spc_order i{
    font-style: normal;
}
.settle_order li:last-of-type{
    border-bottom: 0;
}
.totleMoney{
    text-align: right;
}
